@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Prosto+One&display=swap');
*{
  font-family: Montserrat;
}
h1{
  text-align: center;
}
.wrapper{
  padding-block: 1rem;
  padding-inline: 20%;
}
.buttons-div{
  width: fit-content;
  margin-inline: auto;
}
button{
  transition: all 0.2s ease;
}
button:hover{
  scale: 1.1;
}