@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Prosto+One&display=swap');
*{
  font-family: Montserrat;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
span{
  color:darkcyan;
}
.wrapper{
  padding-block: 1rem;
  padding-inline: 20%;
}
.buttons-div{
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
}
button{
  transition: all 0.2s ease;
}
button:hover{
  scale: 1.1;
}

.maps-container{
  width: 60% !important;
  height: 60% !important;
  translate: -50% 0;
  left: 50%;
}
img{
  height: 500px ;
  width: 100%;
}
.carousel{
  margin-block: 1rem 3rem;
}